<html>
<body>

{{^practitioner}}

<form action="/login" method="post">
<input type="text" placeholder="Username" name="userName" required/>
<input type="password" placeholder="Password" name="password" required/>
<button type="submit">Submit</button>
</form>
{{/practitioner}}

{{#practitioner}}

Welcome, {{userName}}!
<br>

<form action="/logout" method="post">
<button type="submit">Logout</button>
</form>

<form action="/create-patient" method="post">
<input type="text" placeholder="Name" name="name">
<input type="number" placeholder="Age" name="age">
<input type="text" placeholder="Diagnosis" name="diagnosis">
<input type="text" placeholder="AcuPoints" name="acuPoints">
<input type="text" placeholder="Herb Rx" name="herbRx">
<input type="text" placeholder="Treatment Date" name="treatmentDate">
<button type="submit">Submit</button>
</form>


<ol>
    {{#patients}}
    <form action="/delete-patient" method="post">
        <li>
        {{name}} {{age}} {{diagnosis}} {{acuPoints}} {{herbRx}} {{treatmentDate}}
            <input type="hidden" value="{{id}}" name="id"/>
            <button type="submit">Delete</button>
            <a href="/update-patient?updateId={{id}}">Update Patient</a>
    </li>
    </form>
    {{/patients}}
</ol>


{{/practitioner}}


</body>
</html>