<html>
<body>

{{#patient}}

{{id}} - {{name}} - {{age}} - {{diagnosis}} - {{acuPoints}} - {{herbRx}} - {{treatmentDate}}

<form action="/update-patient" method="post">
    <input type="hidden"  value="{{id}}" name="updateId">
    <input type="text" onclick="this.select();" value="{{name}}" name="name">
    <input type="number" onclick="this.select();" value="{{age}}" name="age">
    <input type="text" onclick="this.select();" value="{{diagnosis}}" name="diagnosis">
    <input type="text" onclick="this.select();" value="{{acuPoints}}" name="acuPoints">
    <input type="text" onclick="this.select();" value="{{herbRx}}" name="herbRx">
    <input type="datetime-local" onclick="this.select();" value="{{treatmentDate}}" name="treatmentDate">
    <button type="submit">Submit</button>

</form>


{{/patient}}
</body>
</html>